<div style="width: 100%;">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Acción</th>
        <th>Motivo</th>
        <th>Importe</th>
        <th>Contribuyente</th>
        <th>Sede</th>
        <th>Operador</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>
      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>
      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>
      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>
      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>
      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>
      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>
      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>
      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>
      <tr>
        <td>16/12/2020</td>
        <td>Ingreso</td>
        <td>Diezmo</td>
        <td>$6400</td>
        <td>Danilo Prieto</td>
        <td>Oberá</td>
        <td>Sebastián Tamis</td>
      </tr>
    </tbody>
  </table>
</div>
